{% extends "base.html" %}

{% block title %}
{{ page_title }} | Энциклопедия DEVMAN
{% endblock %}

{% block head %}
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="../index.html">DEVMAN Энциклопедия</a></div>
    </div>
</div>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="../index.html">Главная</a></li>
  <li><a href="./index.html">{{ page_topic_title }}</a></li>
  <li class="active">{{ page_title|escape }}</li>
</ol>
<h2>{{ page_title|escape }}</h2>
{{ text }}
{% endblock %}